@import 'tailwindcss';
@import './themes/index.css';

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.979 0.0131 342.9444);
  --foreground: oklch(0.2663 0.1005 353.1926);
  --card: oklch(0.9895 0.0065 342.7801);
  --card-foreground: oklch(0.2079 0.0759 351.4761);
  --popover: oklch(0.9895 0.0065 342.7801);
  --popover-foreground: oklch(0.2079 0.0759 351.4761);
  --primary: oklch(0.6297 0.2311 352.8044);
  --primary-foreground: oklch(0.979 0.0131 342.9444);
  --secondary: oklch(0.9121 0.0268 343.324);
  --secondary-foreground: oklch(0.3562 0.1173 350.9322);
  --muted: oklch(0.9575 0.0099 342.8703);
  --muted-foreground: oklch(0.4893 0.063 345.5615);
  --accent: oklch(0.9276 0.0267 343.3095);
  --accent-foreground: oklch(0.5171 0.2022 354.8472);
  --destructive: oklch(0.6356 0.2082 25.3782);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9121 0.0268 343.324);
  --input: oklch(0.9297 0.0213 343.1716);
  --ring: oklch(0.6297 0.2311 352.8044);
  --chart-1: oklch(0.6297 0.2311 352.8044);
  --chart-2: oklch(0.6776 0.1706 1.91);
  --chart-3: oklch(0.744 0.1609 327.0414);
  --chart-4: oklch(0.6082 0.2417 341.0849);
  --chart-5: oklch(0.6557 0.2246 0.612);
  --sidebar: oklch(0.9843 0.0098 342.8618);
  --sidebar-foreground: oklch(0.3076 0.0983 350.5568);
  --sidebar-primary: oklch(0.6297 0.2311 352.8044);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9457 0.0199 343.1266);
  --sidebar-accent-foreground: oklch(0.5638 0.2213 355.0313);
  --sidebar-border: oklch(0.9385 0.0186 343.0976);
  --sidebar-ring: oklch(0.6297 0.2311 352.8044);
  --font-sans: Inter, system-ui, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.75rem;
  --shadow-2xs: 0px 4px 12px 0px hsl(327 40% 10% / 0.04);
  --shadow-xs: 0px 4px 12px 0px hsl(327 40% 10% / 0.04);
  --shadow-sm: 0px 4px 12px 0px hsl(327 40% 10% / 0.08), 0px 1px 2px -1px hsl(327 40% 10% / 0.08);
  --shadow: 0px 4px 12px 0px hsl(327 40% 10% / 0.08), 0px 1px 2px -1px hsl(327 40% 10% / 0.08);
  --shadow-md: 0px 4px 12px 0px hsl(327 40% 10% / 0.08), 0px 2px 4px -1px hsl(327 40% 10% / 0.08);
  --shadow-lg: 0px 4px 12px 0px hsl(327 40% 10% / 0.08), 0px 4px 6px -1px hsl(327 40% 10% / 0.08);
  --shadow-xl: 0px 4px 12px 0px hsl(327 40% 10% / 0.08), 0px 8px 10px -1px hsl(327 40% 10% / 0.08);
  --shadow-2xl: 0px 4px 12px 0px hsl(327 40% 10% / 0.2);
  --tracking-normal: -0.01em;
}

.dark {
  --background: oklch(0.1349 0.0296 344.8141);
  --foreground: oklch(0.9583 0.0265 343.2824);
  --card: oklch(0.1608 0.0314 346.7555);
  --card-foreground: oklch(0.9583 0.0265 343.2824);
  --popover: oklch(0.1608 0.0314 346.7555);
  --popover-foreground: oklch(0.9583 0.0265 343.2824);
  --primary: oklch(0.6882 0.1934 349.2798);
  --primary-foreground: oklch(0.1538 0.0105 344.2247);
  --secondary: oklch(0.257 0.0415 346.2882);
  --secondary-foreground: oklch(0.8977 0.0677 344.3766);
  --muted: oklch(0.2268 0.0343 346.0586);
  --muted-foreground: oklch(0.705 0.0503 344.286);
  --accent: oklch(0.285 0.0637 347.7392);
  --accent-foreground: oklch(0.8977 0.0677 344.3766);
  --destructive: oklch(0.3901 0.1297 25.5736);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.2864 0.0484 346.4592);
  --input: oklch(0.2864 0.0484 346.4592);
  --ring: oklch(0.6882 0.1934 349.2798);
  --chart-1: oklch(0.6882 0.1934 349.2798);
  --chart-2: oklch(0.7183 0.1369 359.8787);
  --chart-3: oklch(0.7852 0.1124 326.5813);
  --chart-4: oklch(0.6595 0.1987 338.6493);
  --chart-5: oklch(0.7611 0.1325 354.2554);
  --sidebar: oklch(0.1484 0.0306 346.1268);
  --sidebar-foreground: oklch(0.9176 0.0133 342.9716);
  --sidebar-primary: oklch(0.6882 0.1934 349.2798);
  --sidebar-primary-foreground: oklch(0.1538 0.0105 344.2247);
  --sidebar-accent: oklch(0.2268 0.0343 346.0586);
  --sidebar-accent-foreground: oklch(0.8977 0.0677 344.3766);
  --sidebar-border: oklch(0.257 0.0415 346.2882);
  --sidebar-ring: oklch(0.6882 0.1934 349.2798);
  --shadow-2xs: 0px 8px 16px 0px hsl(0 0% 0% / 0.2);
  --shadow-xs: 0px 8px 16px 0px hsl(0 0% 0% / 0.2);
  --shadow-sm: 0px 8px 16px 0px hsl(0 0% 0% / 0.4), 0px 1px 2px -1px hsl(0 0% 0% / 0.4);
  --shadow: 0px 8px 16px 0px hsl(0 0% 0% / 0.4), 0px 1px 2px -1px hsl(0 0% 0% / 0.4);
  --shadow-md: 0px 8px 16px 0px hsl(0 0% 0% / 0.4), 0px 2px 4px -1px hsl(0 0% 0% / 0.4);
  --shadow-lg: 0px 8px 16px 0px hsl(0 0% 0% / 0.4), 0px 4px 6px -1px hsl(0 0% 0% / 0.4);
  --shadow-xl: 0px 8px 16px 0px hsl(0 0% 0% / 0.4), 0px 8px 10px -1px hsl(0 0% 0% / 0.4);
  --shadow-2xl: 0px 8px 16px 0px hsl(0 0% 0% / 1);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
  html, body, #root {
    height: 100%;
    margin: 0;
  }
  button {
    @apply cursor-pointer;
  }
}
